body {
    /*background-image: url("./img/2179452950ec063f1cfe752ca5860318.jpg");
    */
    width: 95%;
    align-items: center;
    margin: 0px auto;
    background-color: blanchedalmond;
    border: 2px red solid;
    
}

#titulo, #tituloSeccion {
    text-align: center;
    border: 2px brown solid;
    font-size: 2em;
    font-family:'Times New Roman', Times, serif
}

.tituloSeccion {
    text-align: center;
    border: 2px yellowgreen solid;
    font-size: 1.5em;
    font-family:'Times New Roman', Times, serif
}

#formulariosIngreso {
    width: 90%;
    display: flex;

    margin: auto;
    border: 2px blue solid;

    justify-content: space-around;
}

.listaEspera {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    border: 1px green solid;
}

#formPacientes, #formMedicos {
    width: 45%;
    max-width: 45%;
    display:inline-block;
    flex-direction: column;
    border: 2px blue solid;
    margin-bottom: 10px;
}

.listaPacientesPorMedico {
    display:flex;
    flex-direction: column;
    border: 2px blue solid;
    margin-bottom: 10px;
}

#contenedores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.consultorioMedico {
    text-align: center;
    font-size: 1.5em;
}

label {
    max-width: 60%;
    display: inline-block;
}